<div class="border-bottom bg-white">
    <form class="py-4 container">
        <div class="input-group input-group-lg">
            <input type="text" @bind="@Data" class="form-control" placeholder="Add data..." autofocus>
            <div class="input-group-append">
                <button @onclick="OnSendCommand" @onclick:preventDefault="true" id="addCommandoBtn" class="btn btn-info">Lägg till kommando</button>
            </div>
        </div>
    </form>
</div>

@code {

    public string Data { get; set; }

    [Parameter]
    public EventCallback<string> Update { get; set; }

    public async Task OnSendCommand()
    {
        if (Update.HasDelegate)
        {
            await Update.InvokeAsync(Data);
        }
        Data = default;
    }

}
